{% extends 'base.html.twig' %}

{% block title %}Character index{% endblock %}

{% block body %}
    <h1>Character index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Character_firstname</th>
                <th>Character_lastname</th>
                <th>Character_nickname</th>
                <th>Character_age</th>
                <th>Character_job</th>
                <th>Character_city</th>
                <th>Character_ethnic</th>
                <th>Character_link</th>
                <th>Character_information</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for character in characters %}
            <tr>
                <td>{{ character.id }}</td>
                <td>{{ character.characterFirstname }}</td>
                <td>{{ character.characterLastname }}</td>
                <td>{{ character.characterNickname }}</td>
                <td>{{ character.characterAge }}</td>
                <td>{{ character.characterJob }}</td>
                <td>{{ character.characterCity }}</td>
                <td>{{ character.characterEthnic }}</td>
                <td>{{ character.characterLink }}</td>
                <td>{{ character.characterInformation }}</td>
                <td>
                    <a href="{{ path('app_character_show', {'id': character.id}) }}">show</a>
                    <a href="{{ path('app_character_edit', {'id': character.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_character_new') }}">Create new</a>
{% endblock %}
