{% extends 'base.html.twig' %}

{% block title %}Character{% endblock %}

{% block body %}
    <h1>Character</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ character.id }}</td>
            </tr>
            <tr>
                <th>Character_firstname</th>
                <td>{{ character.characterFirstname }}</td>
            </tr>
            <tr>
                <th>Character_lastname</th>
                <td>{{ character.characterLastname }}</td>
            </tr>
            <tr>
                <th>Character_nickname</th>
                <td>{{ character.characterNickname }}</td>
            </tr>
            <tr>
                <th>Character_age</th>
                <td>{{ character.characterAge }}</td>
            </tr>
            <tr>
                <th>Character_job</th>
                <td>{{ character.characterJob }}</td>
            </tr>
            <tr>
                <th>Character_city</th>
                <td>{{ character.characterCity }}</td>
            </tr>
            <tr>
                <th>Character_ethnic</th>
                <td>{{ character.characterEthnic }}</td>
            </tr>
            <tr>
                <th>Character_link</th>
                <td>{{ character.characterLink }}</td>
            </tr>
            <tr>
                <th>Character_information</th>
                <td>{{ character.characterInformation }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_character_index') }}">back to list</a>

    <a href="{{ path('app_character_edit', {'id': character.id}) }}">edit</a>

    {{ include('character/_delete_form.html.twig') }}
{% endblock %}
