{% extends 'base.html.twig' %}

{% block title %}Storiz
{% endblock %}

{% block body %}

	<!-- ----------------------Navigation-------------------------->

	<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
		<div class="container px-5 px-lg-5">
			<a class="navbar-brand" title="Storiz">STORIZ</a>
			{% if selectedStory %}
				<p class="text-end text-secondary fw-bold" id="selectedStory">{{selectedStory.name}}</p>
			{% endif %}
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" alt="Menu">
				Menu
				<i class="fas fa-bars red" style="color:red"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ms-auto py-4 py-lg-0 ">
					{% if app.user %}
						<span class="navbar-text" id="navbarFlash">{% include "partials/_flash.html.twig" %}</span>
						<li class="nav-item">
							<a class="nav-link px-lg-3 py-3 py-lg-4" id="btnlogout" href="{{path('app_logout')}}" alt="Déconnexion" data-no-routing>Deconnexion</a>
						</li>
						{% if is_granted('ROLE_ADMIN') %}
							<li>
								<a class="nav-link px-lg-3 py-3 py-lg-4" href="{{path ('user_index') }}" title="utilisateurs">Admin</a>
							</li>
						{% endif %}

						<div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
							<ul class="navbar-nav" id="ulStory">
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
										Storizzz
									</a>
									<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink" id="ulStory">
										<button type="button" class="btn btn-outline-warning btn-block" id="ButtonSettingStory" data-bs-toggle="modal" data-bs-target="#modalSettingStory">
											<i class="fi fi-rr-settings"></i>
										</button>
										{% for story in stories %}
											<li>
												<a href="{{path('app_main', {'id': story.id})}}" class="dropdown-item story">{{ story.name }}</a>
											</li>
										{% else %}
											<li>
												<a class="dropdown-item" href="#">Aucune storiz</a>
											</li>
										{% endfor %}
									</ul>
								</li>
							</ul>
						</div>


					{% else %}
						<li class="nav-item">
							<a class="nav-link px-lg-3 py-3 py-lg-4" href="{{path('app_login')}}" data-bs-toggle="modal" data-bs-target="#modalConnexion" alt="Connexion">Connexion</a>
						</li>
						<li class="nav-item">
							<a class="nav-link px-lg-3 py-3 py-lg-4" href="{{path('app_register')}}" data-bs-toggle="modal" data-bs-target="#modalInscription" alt="Inscription">Inscription</a>
						</li>
					{% endif %}
					<li class="nav-item" id="buttonToggle">
						<button type="button" data-toggle="toggle" checked data-onlabel="off" data-offlabel="on" data-onstyle="outline-secondary" data-offstyle="outline-light" data-size="xs" id="blackAndWhite">Mode</button</li>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- ------------------------Modal Connexion--------------------- -->

	<div class="modal fade" id="modalConnexion" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body ">
					<form method="post" action="{{ path('app_login')}}">
						{% if error is defined and error%}
							<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
						{% endif %}

						{% if app.user %}
							<div class="mb-3">
								Vous êtes connecté(e)
								{{ app.user.userIdentifier }},
								<a href="{{ path('app_logout') }}">Déconnexion</a>
							</div>
						{% endif %}

						<h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
						<label for="inputEmail">Email</label>
						<input type="email" value="" name="email" id="connectionEmail" class="form-control" autocomplete="email" required autofocus>
						<label for="inputPassword">Mot de passe</label>
						<input type="password" name="password" id="connectionPassword" class="form-control" autocomplete="current-password" required>
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
						<button class="btn btn-lg btn-success" type="submit">
							Valider
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>


	<!-- ------------------------Modal Inscription------------------- -->

	<div class="modal fade" id="modalInscription" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Inscription</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form method="post" action="{{ path('app_register')}}">
						<div class="mb-3">
							<label for="Pseudo1" class="form-label">Prénom</label>
							<input type="text" name="pseudo" class="form-control" id="registrationFirstname">
						</div>
						<div class="mb-3">
							<label for="Pseudo1" class="form-label">Nom</label>
							<input type="text" name="pseudo" class="form-control" id="registrationLastname">
						</div>
						<div class="mb-3">
							<label for="Email1" class="form-label">Email</label>
							<input type="email" name="email" class="form-control" id="registrationEmail">
						</div>
						<div class="mb-3">
							<label for="password" class="form-label">Mot de passe</label>
							<input type="password" name="password" class="form-control" id="registrationPassword">
						</div>
						<div class="mb-3">
							<label for="password_retype" class="form-label">Vérification Mot de passe</label>
							<input type="password" name="password_retype" class="form-control" id="registrationPasswordConfirm">
						</div>
						<div class="form-check">
							<input type="checkbox" class="form-check-input" id="registrationAgreeterms">
							<label class="form-check-label" for="exampleCheck1">J'accepte les conditions de Storiz</label>
						</div>
						<br>
						<button type="submit" class="btn btn-outline-success justify-content-center">Valider</button>
					</form>

					{{ form_start(registrationForm, {'action': path('app_register')}) }}
					<fieldset>
						<legend>Mon identité</legend>
						{{ form_row(registrationForm.lastname) }}
						{{ form_row(registrationForm.firstname) }}

					</fieldset>
					{{ form_row(registrationForm.email) }}
					{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}

					<button type="submit" class="btn">Register</button>
					{{ form_end(registrationForm) }}

				</div>
			</div>
		</div>
	</div>

	<!-- ------------------------Modal setting Story--------------------- -->

	{% include "main/modal_setting_story.html.twig" %}

	<!-- ------------------------Modal New Story--------------------- -->
	{% include "main/new_story.html.twig" %}

	<!-- ------------------------Modal setting Category--------------------- -->

	<div class="modal fade modal-lg" id="modalSettingCategory" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Tableau des catégories</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				{% if selectedStory %}
					<a href="{{path('app_category_new')}}" type="button" class="btn btn-outline-success">Ajout catégorie</a>
				{% else %}
					<a type="button" class="btn btn-outline-danger disabled">Ajout catégorie</a>
					<p class="text text-center">Créer d'abord une story pour créer des catégories de personnages</p>
				{% endif %}
				<div class="modal-body ">

					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th class="text-center">#</th>
									<th>Catégorie</th>
								</tr>
							</thead>
							<tbody>
								{% if selectedStory %}
									{% for category in selectedStory.categories %}
										<tr>
											<td class="text-center">1</td>
											<td>{{category.name}}</td>
											<td class="td-actions text-right">
												<a href="{{path('app_category_delete' , {'id': category.id} )}}" type=" button" class=" btn" id=" btnActionDelete">
													<i class="fi fi-rr-trash"></i>
												</a>
												<a href="href=" {{path('app_category_edit' , {'id': category.id} )}}"" type="button" class="btn" id="btnActionEdit">
													<i class="fi fi-rr-edit"></i>
												</a>
											</td>
										</tr>
									{% endfor %}
								{% endif %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- ------------------------Modal update Catégorie--------------------- -->

	<div class="modal fade" id="modalUpdateCategory" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Renommer catégorie</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body ">
					<form action="" method="post" id="formConnexion">
						<div class="mb-3">
							<label for="nextCategory" class="form-label">Titre actuel</label>
							<input type="text" name="nextCategory" class="form-control" id="nextCategory">
						</div>
						<div class="mb-3">
							<label for="updateCategory" class="form-label">Nouveau titre</label>
							<input type="text" name="updateCategory" class="form-control" id="updateCategory">
						</div>
						<buttonValider type="submit" class="btn btn-outline-success justify-content-center" href="#">Actualiser</button>
					</form>
				</div>
			</div>
		</div>
	</div>


	<!-- ------------------------Modal New Chapiter--------------------- -->

	<div class="modal fade" id="modalNewChapter" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Nouveau Chapitre</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body ">
					<form action="{{ path('app_chapter_new')}}" method="post" id="formNewChapter">
						<div class="mb-3">
							<label for="newChapter" class="form-label">Titre du chapitre</label>
							<input type="text" name="newChapter" class="form-control" id="imputnewChapter">
						</div>
						<button type="submit" class="btn btn-success justify-content-center" href="#">Valider</button>
					</form>
				</div>
			</div>
		</div>
	</div>


	<!-- ------------------------Modal setting Chapter --------------------- -->


	<div class="modal fade modal-lg" id="modalSettingChapter" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Vos chapitres</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body ">
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th class="text-center"></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								{% if selectedStory %}
									{% for chapter in selectedStory.chapters %}
										<tr {{chapter.id}}>
											<td class="text-center"></td>
											<td>{{ chapter.Name }}</td>
											<td class="td-actions text-right">
												<form method="post" action="{{path('app_chapter_delete', {'id': chapter.id})}}" onsubmit="return confirm('Supprimer le chapitre : {{ chapter.name }} ?');">
													<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ chapter.id) }}">
													<button type="submit" class="btn" id="btnActionDeleteChapter" data-bs-toggle="modal">
														<i class="fi fi-rr-trash"></i>
													</button>
													<button type="button" class="btn" id="btnActionEditChapter" data-bs-toggle="modal" data-bs-target="#modalUpdateChapter" data-whatever="{{ chapter.id }}" data-story-id="{{ chapter.id }}">
														<i class="fi fi-rr-edit"></i>
													</button>
												</form>
											</td>
										</tr>
									{% endfor %}
								{% else %}
									<tr>
										<td class="text-center"></td>
										<td>Aucun chapitre</td>
									</tr>
								{% endif %}
							</tbody>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- ------------------------Modal update Chapitre--------------------- -->

<div class="modal fade" id="modalUpdateChapter" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="staticBackdropLabel">Renommer chapitre</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body ">
				<form action="" method="post" id="formEditChapter">
					<div class="mb-3">
						<label for="nextChapter" class="form-label">Titre actuel</label>
						<input type="text" name="currentChapter" class="form-control" id="currentChapter">
					</div>
					<div class="mb-3">
						<label for="updateChapter" class="form-label">Nouveau titre</label>
						<input type="text" name="updateChapter" class="form-control" id="updateChapter">
					</div>
					<buttonValider type="submit" class="btn btn-outline-success justify-content-center" href="#">Actualiser</button>
				</form>
			</div>
		</div>
	</div>
</div>


<!-- ----------------------------------------------Container storiz---------------------------------------------------- -->

<!-- -------------------------Container dropdown storiz--------------------- -->
<div class="d-flex p-2">

	<div class="container mt-1" id="containerOne">

		<div class="col">
			<div class="dropdown">
				<button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Catégorie
				</button>
				<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton">
					<li>
						<a class="dropdown-item story" id="allOption" onclick="filterCharactersByCategory('Tous')">Tous</a>
					</li>
					{% if selectedStory %}
						{% for category in selectedStory.categories %}
							<li>
								<a class="dropdown-item story" onclick="filterCharactersByCategory('{{ category.name }}')">
									{{ category.name }}</a>
							</li>
						{% endfor %}
					{% endif %}
				</ul>
				<button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#modalSettingCategory">
					<i class="fi fi-rr-settings"></i>
				</button>
				<a href="{{ path('app_character_new')}}" type="button" class="btn btn-outline-success">Nouveau personnage</a>
			</div>
		</div>
		<br>
		<div class="col">
			<div class="accordion mb-2" id="accordionExample">
				{% if selectedStory %}
					{% for character in selectedStory.characters %}
						<div class="card card-category hidden" data-category="{{ character.category.name }}">
							<div class="card-header" id="heading{{character.id}}">
								<h2
									class="mb-0">
									{# <a class="characterId" data-toggle="collapse" data-target="#collapse{{character.id}}" aria-expanded="false" aria-controls="collapse{{character.id}}"> #}
									<a class="characterId" data-category="{{ character.category }}" data-toggle="collapse" data-target="#collapse{{character.id}}" aria-expanded="false" aria-controls="collapse{{character.id}}">
										<p class="nameCharacter" id="nameCharacter{{character.id}}">
											<i class="fa fa-user"></i>
											<span id='character{{character.id}}FirstName' class="name">{{character.firstname}}</span>
											<span id='character{{character.id}}LastName'>{{character.lastname}}</span>
										</p>
										<i class="fa fa-chevron-down toggle"></i>
									</a>
								</h2>
							</div>
							<div id="collapse{{character.id}}" class="collapse" aria-labelledby="heading{{character.id}}" data-parent="#accordionExample">
								<div class="card-body">
									<div class="card-button">
										<form class="formCardCharacter" method="post" action="{{path('app_character_delete', {'id': character.id})}}" onsubmit="return confirm('Supprimer le personnage : {{character.firstname}} {{character.lastname}} ?');">
											<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ character.id) }}">
											<button type="submit" type="button" class="btn" title="Supprimer">
												<i class="fi fi-rr-trash"></i>
											</button>
										</form>
										<form class="formCardCharacter" method="post" action="{{path('app_character_edit', {'id': character.id})}}">
											<input type="hidden" name="_token" value="{{ csrf_token('edit' ~ character.id) }}">
											<button type="submit" type="button" class="btn" title="Modifier">
												<i class="fi fi-rr-edit"></i>
											</button>
										</form>
									</div>
									<p class="text-justify">Profession :
										{{character.job}}
									</p>
									<p class="text-justify">Age :
										{{character.age}}
									</p>
									<p class="text-justify">Ville :
										{{character.city}}
									</p>
									<p class="text-justify">Surnom :
										{{character.nickname}}
									</p>
									<p class="text-justify">Éthnie :
										{{character.ethnic}}
									</p>
									<p>
										<i class="fi fi-sr-users-alt"></i>Liens :
										{{character.link}}
									</p>
									<p class="text-justify">Infos :
										{{character.information}}
									</p>
								</div>
							</div>
						</div>
					{% endfor %}
					{% else %}
				{% endif %}
			</div>
		</div>
	</div>

	<div class="container mt-1" id="containerTwo">
		<div class="col">
			<div class="dropdown">
				<button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Chapitre
				</button>
				<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink" id="ulChapter">
					{% if selectedStory %}
						{% for chapter in selectedStory.chapters %}
							<li class="chapterInfos">
								<a class="dropdown-item" id="dropdownChapter" data-chapter-name="{{ chapter.name }}" data-chapter-ideas="{{ chapter.ideas }}" data-chapter-id="{{chapter.id}}">{{ chapter.name }}</a>
							</li>
						{% endfor %}
					{% else %}
						<li>
							<a class="dropdown-item">Aucun chapitre</a>
						</li>
					{% endif %}
				</ul>
				<button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#modalSettingChapter">
					<i class="fi fi-rr-settings"></i>
				</button>
				<button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#modalNewChapter">Nouveau chapitre</button>
				<span class="text-secondary fw-bold" id="numberOfChapter" style="margin-left: 20px; "></span>
				:
				<label class="text-secondary fw-bold" id="chapitreEnCours"></label>
			</div>
		</div>
		<br>
		<div class="col">
			<div
				class="form-group shadow-textarea">
				{# <textarea class="form-control z-depth-1" id="contentEditor" name="textarea" rows="3" placeholder="Vos idées pour ce chapitre..." style="height: 35rem; resize: none; white-space: pre-line;"></textarea> #}
				<textarea class="form-control z-depth-1" id="contentIdeas" name="textarea" rows="3" placeholder="Vos idées pour ce chapitre..." style="height: 35rem; resize: none; white-space: pre-line;"></textarea>
				<button class="btn btn-outline-success btn-lg col-12 m-auto" onclick="updateChapter('{{absolute_url(path('app_api_updatechaptercontent', {id:'fragmentToReplace'}))}}')">Sauvegarder vos idées</button>
			</div>
		</div>

	</div>
</div>

{% if selectedStory and selectedStory.chapters is not empty %}
	<script>
		document.querySelector('#chapitreEnCours').textContent = '{{ selectedStory.chapters[0].name }}';
		document.querySelector('#contentIdeas').value = '{{ selectedStory.chapters[0].ideas }}';
		document.querySelector('#numberOfChapter').textContent = `Chapitre 1`;
		window.__chapterSelectedId__ = {{ selectedStory.chapters[0].id }};
			console.log(window.__chapterSelectedId__);
	</script>
{% endif %}{% endblock %}
