{% extends 'base.html.twig' %}

{% block title %}Storiz{% endblock %}

{% block body %}

	{# {% include "includes/nav.html.twig" %}
	{% include "includes/settings.html.twig" %}
	{% include "includes/creation.html.twig" %}
	{% include "includes/modals/login.modal.html.twig" %}
	{% include "includes/modals/registration.modal.html.twig" %}
	{{ include('includes/modals/modals.html.twig') }} #}


	<!-- ----------------------Navigation-------------------------->

	<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
        <div class="container px-4 px-lg-5">
			<a class="navbar-brand" href="{{path('app_main')}}" title="Storiz">STORIZ <span id="displayStory"></span></a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" alt="Menu">
				Menu
				<i class="fas fa-bars"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ms-auto py-4 py-lg-0">
					{% if app.user %}
						<li class="nav-item">
							<a class="nav-link px-lg-3 py-3 py-lg-4" href="{{path('app_logout')}}" alt="DéConnexion">Deconnexion</a>
						</li>
						<div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
							<ul class="navbar-nav" id="ulStory">
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle"  id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
										Storizzz
									</a>
									<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink" id="ulStory">
										<button type="button" class="btn btn-outline-warning btn-block" id="ButtonSettingStory" data-bs-toggle="modal" data-bs-target="#modalSettingStory">
											<i class="fi fi-rr-settings"></i>
										</button>
										{% for story in stories %}
											<li>
												<a class="dropdown-item story" id="dropdownStory" href="#">{{ story.storyName }}</a>
											</li>
										{% else %}
											<li>
												<a class="dropdown-item" href="#">Aucune storiz</a>
											</li>
										{% endfor %}
									</ul>
								</li>
							</ul>
						</div>


					{% else %}
						<li class="nav-item">
							<a class="nav-link px-lg-3 py-3 py-lg-4" href="{{path('app_login')}}" data-bs-toggle="modal" data-bs-target="#modalConnexion" alt="Connexion">Connexion</a>
						</li>
						<li class="nav-item">
							<a class="nav-link px-lg-3 py-3 py-lg-4" href="{{path('app_register')}}" data-bs-toggle="modal" data-bs-target="#modalInscription" alt="Inscription">Inscription</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>


	<!-- ------------------------Modal Connexion--------------------- -->

	<div class="modal fade" id="modalConnexion" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div
					class="modal-header">
					{# <h5 class="modal-title" id="staticBackdropLabel" alt="Connexion">Connexion</h5> #}
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body ">
					<form method="post" action="{{ path('app_login')}}">
						{% if error is defined and error%}
							<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
						{% endif %}

						{% if app.user %}
							<div class="mb-3">
								Vous êtes connecté(e)
								{{ app.user.userIdentifier }},
								<a href="{{ path('app_logout') }}">Déconnexion</a>
							</div>
						{% endif %}

						<h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
						<label for="inputEmail">Email</label>
						<input type="email" value="" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
						<label for="inputPassword">Mot de passe</label>
						<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

						<input
						type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

						{# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
																																																See https://symfony.com/doc/current/security/remember_me.html #}

						<div class="checkbox mb-3">
							<label>
								<input type="checkbox" name="_remember_me">
								Se souvenir de moi
							</label>
						</div>

						<button class="btn btn-lg btn-success" type="submit">
							Valider
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>


	<!-- ------------------------Modal Inscription------------------- -->

	<div class="modal fade" id="inscription" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Inscription</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body ">
					<form action="" method="post">
						<div class="mb-3">
							<label for="Pseudo1" class="form-label">Pseudo</label>
							<input type="text" name="pseudo" class="form-control" id="Pseudo1">
						</div>
						<div class="mb-3">
							<label for="Email1" class="form-label">Email</label>
							<input type="email" name="email" class="form-control">
						</div>
						<div class="mb-3">
							<label for="password" class="form-label">Mot de passe</label>
							<input type="password" name="password" class="form-control">
						</div>
						<div class="mb-3">
							<label for="password_retype" class="form-label">Vérification Mot de passe</label>
							<input type="password" name="password_retype" class="form-control" id="Password2">
						</div>
						<button type="submit" class="btn btn-outline-success justify-content-center">Valider</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- ------------------------Modal setting Story--------------------- -->

	<div class="modal fade modal-lg" id="modalSettingStory" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Tableau des storyzzz</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#modalNewStory">Nouvelle Story</button>
				<div class="modal-body ">

					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th class="text-center">#</th>
									<th>Story</th>
								</tr>
							</thead>
							<tbody>

								{% for story in stories %}
									<tr {{story.id}}>
										<td class="text-center"></td>
										<td>{{ story.storyName }}</td>
										<td class="td-actions text-right">
											<form method="post" action="{{path('app_story_delete', {'id': story.id})}}" onsubmit="return confirm('Supprimer la Story : {{ story.storyName }} ?');">
												<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ story.id) }}">
												<button type="submit" class="btn" id="btnActionDeleteStory">
													<i class="fi fi-rr-trash"></i>
												</button>
												<button type="button" class="btn" id="btnActionEditStory" data-bs-toggle="modal" data-bs-target="#modalUpdateStory" data-whatever="{{ story.id }}" data-story-id="{{ story.id }}">
													<i class="fi fi-rr-edit"></i>
												</button>
											</form>

										</td>
									</tr>
								{% else %}
									<tr>
										<td class="text-center"></td>
										<td>Aucune storiz</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- ------------------------Modal New Story--------------------- -->
	{% include "main/new_story.html.twig" %}


	<!-- ------------------------Modal update Story--------------------- -->

	{# <div class="modal fade" id="modalUpdateStory" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Renommer Story</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body ">
					<form method="post" action="{{ path('app_story_edit', {'id': story.id}) }}" onsubmit="return confirm('Mettre à jour la Story : {{ story.storyName }} ?');" id="modalEditStory">
						<input type="hidden" name="_token" value="{{ csrf_token('update' ~ story.id) }}">
						<div class="mb-3">
							<label for="nextStory" class="form-label">Titre actuel</label>
							<input type="text" readonly value="{{ story.storyName }}" name="nextStory" class="form-control" id="currentStory" data-story-id="{{ story.id }}">

						</div>
						<div class="mb-3">
							<label for="updateStory" class="form-label">Nouveau titre</label>
							<input type="text" name="updateStory" class="form-control" id="updateStory">
						</div>
						<buttonValider type="submit" class="btn btn-outline-success justify-content-center" href="#">Actualiser</button>
					</form>
				</div>
			</div>
		</div>
	</div> 
	#}

	<!-- ------------------------Modal setting Category--------------------- -->

	<div class="modal fade modal-lg" id="modalSettingCategory" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Tableau des catégories</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#modalNewCategory">Ajout catégorie</button>
				<div class="modal-body ">

					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th class="text-center">#</th>
									<th>Catégorie</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="text-center">1</td>
									<td>Famille Lechangeur</td>
									<td class="td-actions text-right">
										<button type="button" class="btn" id="btnActionDelete" data-bs-toggle="modal" data-bs-target="#modal">
											<i class="fi fi-rr-trash"></i>
										</button>
										<button type="button" class="btn" id="btnActionEdit" data-bs-toggle="modal" data-bs-target="#modalUpdateCategory">
											<i class="fi fi-rr-edit"></i>
										</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- ------------------------Modal update Catégorie--------------------- -->

	<div class="modal fade" id="modalUpdateCategory" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Renommer catégorie</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body ">
					<form action="" method="post" id="formConnexion">
						<div class="mb-3">
							<label for="nextCategory" class="form-label">Titre actuel</label>
							<input type="text" name="nextCategory" class="form-control" id="nextCategory">
						</div>
						<div class="mb-3">
							<label for="updateCategory" class="form-label">Nouveau titre</label>
							<input type="text" name="updateCategory" class="form-control" id="updateCategory">
						</div>
						<buttonValider type="submit" class="btn btn-outline-success justify-content-center" href="#">Actualiser</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- ------------------------Modal New Personnage------------------- -->

	<div class="modal fade modal-lg" id="modalNewCharacter" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Personnage</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body ">
					<form action="#" method="post">
						<div class="mb-3">
							<label for="prenom" class="form-label">Prènom</label>
							<input type="text" name="prenom" class="form-control" id="Prenom" placeholder="Exemple: Lee-lou">
						</div>
						<div class="mb-3">
							<label for="nom" class="form-label">Nom</label>
							<input type="text" name="nom" class="form-control" placeholder="Exemple: White">
						</div>
						<div class="mb-3">
							<label for="age" class="form-label">Age</label>
							<input type="text" name="age" class="form-control" placeholder="Exemple: 35">
						</div>
						<div class="mb-3">
							<label for="password" class="form-label">Surnom</label>
							<input type="text" name="surnom" class="form-control" placeholder="Exemple: Loulou">
						</div>
						<div class="mb-3">
							<label for="profession" class="form-label">Profession</label>
							<input type="text" name="profession" class="form-control" placeholder="Exemple: Expert psychiatre">
						</div>
						<div class="mb-3">
							<label for="ethnie" class="form-label">Éthnie</label>
							<input type="text" name="ethnie" class="form-control" placeholder="Exemple: caucasien">
						</div>
						<div class="mb-3">
							<label for="liens" class="form-label">Liens</label>
							<input type="text" name="liens" class="form-control" placeholder="Exemple: Fille de Maryline">
						</div>
						<div class="mb-3">
							<label for="password" class="form-label">Catégorie personnage</label>
							<div class="dropdown">
								<button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Choisissez :
								</button>
								<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton">
									<li>
										<a class="dropdown-item" href="#">Famille Lechangeur</a>
									</li>
								</ul>
							</div>
							Nouvelle catégorie :
							<input type="text" name="categorie" class="form-control" placeholder="Exemple : Famille White">
						</div>
						<div class="mb-4">
							<label for="textCharacter" class="form-label">Infos</label>
							<!-- <textarea class="form-control z-depth-1" id="textCharacter" rows="3" placeholder="Les infos sur ce personnage..." style="height: 15rem; resize: none; white-space: pre-line;"> -->
							<div class="form-outline mb-4">
								<textarea class="form-control" id="textCharacter" rows="4" placeholder="Exemple : Première apparition lors de la réunion de Police...  " style="resize: none; white-space: pre-line;"></textarea>
							</div>
						</div>
						<button type="submit" class="btn btn-success justify-content-center" href="#">Valider</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- ------------------------Modal New Chapitre--------------------- -->

	<div class="modal fade" id="modalNewChapter" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Nouveau Chapitre</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body ">
					<form action="{{ path('app_chapter_new')}}" method="post" id="formNewChapter">
						<div class="mb-3">
							<label for="newChapter" class="form-label">Titre du chapitre</label>
							<input type="text" name="newChapter" class="form-control" id="imputnewChapter">
						</div>
						<button type="submit" class="btn btn-success justify-content-center" href="#">Valider</button>
					</form>
				</div>
			</div>
		</div>
	</div>


	<!-- ------------------------Modal setting Chapiter --------------------- -->


	<div class="modal fade modal-lg" id="modalSettingChapter" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Tableau des chapitres</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body ">
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th class="text-center">#</th>
									<th>Chapitre</th>
								</tr>
							</thead>
							<tbody>
								{% for chapter in chapters %}
									<tr {{chapter.id}}>
										<td class="text-center">1</td>
										<td>{{ chapter.chapterName }}</td>
										<td class="td-actions text-right">
											<form method="post" action="{{path('app_chapter_delete', {'id': chapter.id})}}" onsubmit="return confirm('Supprimer le chapitre : {{ chapter.chapterName }} ?');">
												<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ chapter.id) }}">
												<button type="submit" class="btn" id="btnActionDeleteChapter" data-bs-toggle="modal">
													<i class="fi fi-rr-trash"></i>
												</button>
												<button type="button" class="btn" id="btnActionEditChapter" data-bs-toggle="modal" data-bs-target="#modalUpdateChapter" data-whatever="{{ chapter.id }}" data-story-id="{{ chapter.id }}">
													<i class="fi fi-rr-edit"></i>
												</button>
											</form>
										</td>
									</tr>
								{% else %}
									<tr>
										<td class="text-center"></td>
										<td>Aucun chapitre</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- ------------------------Modal update Chapitre--------------------- -->

	<div class="modal fade" id="modalUpdateChapter" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Renommer chapitre</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body ">
					<form action="" method="post" id="formEditChapter">
						<div class="mb-3">
							<label for="nextChapter" class="form-label">Titre actuel</label>
							<input type="text" name="currentChapter" class="form-control" id="currentChapter">
						</div>
						<div class="mb-3">
							<label for="updateChapter" class="form-label">Nouveau titre</label>
							<input type="text" name="updateChapter" class="form-control" id="updateChapter">
						</div>
						<buttonValider type="submit" class="btn btn-outline-success justify-content-center" href="#">Actualiser</button>
					</form>
				</div>
			</div>
		</div>
	</div>


	<!-- ----------------------------------------------Container storiz---------------------------------------------------- -->

	<!-- -------------------------Container dropdown storiz--------------------- -->

	<div class="container-lg mt-3">
		<div class="row">
			<div class="col-lg-5">
				<div class="dropdown">
					<button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Catégorie Personnage
					</button>
					<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton">
						<li>
							<a class="dropdown-item" href="#">Tous</a>
						</li>
					</ul>
					<button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#modalSettingCategory">
						<i class="fi fi-rr-settings"></i>
					</button>
					<button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#modalNewCharacter">Nouveau personnage</button>
				</div>
			</div>
			<div class="col">
				<div class="dropdown">
					<button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Chapitre
					</button>

					<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink" id="ulChapter">
						{% if app.user %}
							{% for chapter in chapters %}
								<li class="chapterInfos">
									<a class="dropdown-item" id="dropdownChapter" data-chapter-name="{{ chapter.chapterName }}" data-chapter-ideas="{{ chapter.chapterIdeas }}" onclick="updateTextarea(this.dataset.chapterIdeas)">{{ chapter.chapterName }}</a>
								</li>
							{% endfor %}
						{% else %}
							<li>
								<a class="dropdown-item" >Aucun chapitre</a>
							</li>
						{% endif %}
					</ul>
					<button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#modalSettingChapter">
						<i class="fi fi-rr-settings"></i>
					</button>
					<button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#modalNewChapter">Nouveau chapitre</button>
					<span id="numberOfChapter"></span> : <label id="chapitreEnCours"></label>
				</div>

			</div>
		</div>
	</div>

				<!-- -------------------------Container creation Characters & Chapters--------------------- -->

					<!-- ------------------------- creation Characters --------------------- -->


	<div class="container-lg mt-3">
		<div class="row">
			<div class="col-lg-5">
				{% for character in characters %}
					<div class="accordion mb-2" id="accordionCharacters">
						<div class="card">
							<div class="card-header" id="heading{{character.id}}">
								<h2 class="mb-0">
									<a class="characterId" data-toggle="collapse" data-target="#collapse{{character.id}}" aria-expanded="false" aria-controls="collapse{{character.id}}">
										<p class="nameCharacter" id="nameCharacter{{character.id}}">
											<i class="fa fa-user"></i>
											<span id='character{{character.id}}FirstName'>{{character.characterFirstname}}</span>
											<span id='character{{character.id}}LastName'>{{character.characterlastname}}</span>
										</p>
										<i class="fa fa-chevron-down toggle"></i>
									</a>
								</h2>
							</div>
							<div id="collapse{{character.id}}" class="collapse show" aria-labelledby="heading{{character.id}}" data-parent="#accordionCharacters">
								<div class="card-body">
									<form method="post" action="{{path('app_character_delete', {'id': character.id})}}" onsubmit="return confirm('Supprimer le personnage : {{character.characterFirstname}} {{character.characterlastname}} ?');">
										<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ character.id) }}">
										<button type="submit" type="button" class="btn">
											<i class="fi fi-rr-trash"></i>
										</button>
									</form>

									<a href="{{path('app_character_edit', {'id': character.id})}}" type="button" class="btn">
										<i class="fi fi-rr-edit"></i>
									</a>
									<p class="text-justify">Profession :
										{{character.characterJob}}</p>
									<p class="text-justify">Age :
										{{character.characterAge}}
									</p>
									<p class="text-justify">Ville :
										{{character.characterCity}}
									</p>
									<p class="text-justify">Surnom :
										{{character.characterNickname}}</p>
									<p class="text-justify">Éthnie :
										{{character.characterEthnic}}</p>
									<p>
										<i class="fi fi-sr-users-alt"></i>Liens :
										{{character.characterLink}}</p>
									<p class="text-justify">Infos :
										{{character.characterInformation}}
									</p>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
				<!-- ------------------------- creation Chapters --------------------- -->
			<div class="col">
				<div class="form-group shadow-textarea">
					<textarea class="form-control z-depth-1" id="textChapter" rows="3" placeholder="Vos idées pour ce chapitre..." style="height: 35rem; resize: none; white-space: pre-line;">
					</textarea>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
