{% extends 'base.html.twig' %}

{% block title %}Storiz
{% endblock %}

{% block body %}

	{# {% include "includes/nav.html.twig" %}
																																			{% include "includes/settings.html.twig" %}
																																			{% include "includes/creation.html.twig" %}
																																			{% include "includes/modals/login.modal.html.twig" %}
																																			{% include "includes/modals/registration.modal.html.twig" %}
																																			{{ include('includes/modals/modals.html.twig') }} #}


	<!-- ----------------------Navigation-------------------------->

		<nav class="navbar navbar-expand-lg navbar-light" id="mainNav"> <div class="container px-4 px-lg-5">
			<a class="navbar-brand" href="{{path('app_main')}}" title="Storiz">STORIZ</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" alt="Menu">
				Menu
				<i class="fas fa-bars"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ms-auto py-4 py-lg-0">
					{% if app.user %}
						<li class="nav-item">
							<a class="nav-link px-lg-3 py-3 py-lg-4" href="{{path('app_logout')}}" alt="DéConnexion">Deconnexion</a>
						</li>
						<div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
							<ul class="navbar-nav">
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
										Storizzz
									</a>
									<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
										<button type="button" class="btn btn-outline-warning btn-block" id="ButtonSettingStory" data-bs-toggle="modal" data-bs-target="#modalSettingStory">
											<i class="fi fi-rr-settings"></i>
										</button>

										{% for story in stories %}
											<li>
												<a class="dropdown-item" href="#">{{ story.storyName }}</a>
											</li>
										{% else %}
											<li>
												<a class="dropdown-item" href="#">Aucune storiz</a>
											</li>
										{% endfor %}
									</ul>
								</li>
							</ul>
						</div>


					{% else %}
						<li class="nav-item">
							<a class="nav-link px-lg-3 py-3 py-lg-4" href="{{path('app_login')}}" data-bs-toggle="modal" data-bs-target="#modalConnexion" alt="Connexion">Connexion</a>
						</li>
						<li class="nav-item">
							<a class="nav-link px-lg-3 py-3 py-lg-4" href="{{path('app_register')}}" data-bs-toggle="modal" data-bs-target="#modalInscription" alt="Inscription">Inscription</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>


	<!-- ------------------------Modal Connexion--------------------- -->

	<div class="modal fade" id="modalConnexion" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div
					class="modal-header">
					{# <h5 class="modal-title" id="staticBackdropLabel" alt="Connexion">Connexion</h5> #}
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body ">
					<form method="post" action="{{ path('app_login')}}">
						{% if error is defined and error%}
							<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
						{% endif %}

						{% if app.user %}
							<div class="mb-3">
								Vous êtes connecté(e)
								{{ app.user.userIdentifier }},
								<a href="{{ path('app_logout') }}">Déconnexion</a>
							</div>
						{% endif %}

						<h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
						<label for="inputEmail">Email</label>
						<input type="email" value="" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
						<label for="inputPassword">Mot de passe</label>
						<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

						<input
						type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

						{# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
																																																																																																																																																																																																																		See https://symfony.com/doc/current/security/remember_me.html #}

						<div class="checkbox mb-3">
							<label>
								<input type="checkbox" name="_remember_me">
								Se souvenir de moi
							</label>
						</div>

						<button class="btn btn-lg btn-success" type="submit">
							Valider
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>


	<!-- ------------------------Modal Inscription------------------- -->

	<div class="modal fade" id="inscription" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Inscription</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body ">
					<form action="" method="post">
						<div class="mb-3">
							<label for="Pseudo1" class="form-label">Pseudo</label>
							<input type="text" name="pseudo" class="form-control" id="Pseudo1">
						</div>
						<div class="mb-3">
							<label for="Email1" class="form-label">Email</label>
							<input type="email" name="email" class="form-control">
						</div>
						<div class="mb-3">
							<label for="password" class="form-label">Mot de passe</label>
							<input type="password" name="password" class="form-control">
						</div>
						<div class="mb-3">
							<label for="password_retype" class="form-label">Vérification Mot de passe</label>
							<input type="password" name="password_retype" class="form-control" id="Password2">
						</div>
						<button type="submit" class="btn btn-outline-success justify-content-center">Valider</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- ------------------------Modal setting Story--------------------- -->

	<div class="modal fade modal-lg" id="modalSettingStory" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Tableau des storyzzz</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#modalNewStory">Nouvelle Story</button>
				<div class="modal-body ">

					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th class="text-center">#</th>
									<th>Story</th>
								</tr>
							</thead>
							<tbody>

								{% for story in stories %}
									<tr>
										<td class="text-center"></td>
										<td>{{ story.storyName }}</td>
										<td class="td-actions text-right">
											<button type="button" class="btn" id="btnActionDeleteStory">
												<i class="fi fi-rr-trash"></i>
											</button>
											<button type="button" class="btn" id="btnActionEditStory" data-bs-toggle="modal" data-bs-target="#modalUpdateStory">
												<i class="fi fi-rr-edit"></i>
											</button>
										</td>
									</tr>
								{% else %}
									<tr>
										<td class="text-center"></td>
										<td>Aucune storiz</td>
									</tr>
								{% endfor %}

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- ------------------------Modal New Story--------------------- -->
	{% include "main/new_story.html.twig" %}


	<!-- ------------------------Modal update Story--------------------- -->

	<div class="modal fade" id="modalUpdateStory" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Renommer Story</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body ">
					<form action="#" method="post" id="formConnexion">
						<div class="mb-3">
							<label for="nextStory" class="form-label">Titre actuel</label>
							<input type="text" name="nextStory" class="form-control" id="nextStory">
						</div>
						<div class="mb-3">
							<label for="updateStory" class="form-label">Nouveau titre</label>
							<input type="text" name="updateStory" class="form-control" id="updateStory">
						</div>
						<buttonValider type="submit" class="btn btn-outline-success justify-content-center" href="#">Actualiser</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- ------------------------Modal setting Category--------------------- -->

	<div class="modal fade modal-lg" id="modalSettingCategory" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Tableau des catégories</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#modalNewCategory">Ajout catégorie</button>
				<div class="modal-body ">

					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th class="text-center">#</th>
									<th>Catégorie</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="text-center">1</td>
									<td>Famille Lechangeur</td>
									<td class="td-actions text-right">
										<button type="button" class="btn" id="btnActionDelete" data-bs-toggle="modal" data-bs-target="#modal">
											<i class="fi fi-rr-trash"></i>
										</button>
										<button type="button" class="btn" id="btnActionEdit" data-bs-toggle="modal" data-bs-target="#modalUpdateCategory">
											<i class="fi fi-rr-edit"></i>
										</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- ------------------------Modal update Catégorie--------------------- -->

	<div class="modal fade" id="modalUpdateCategory" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Renommer catégorie</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body ">
					<form action="" method="post" id="formConnexion">
						<div class="mb-3">
							<label for="nextCategory" class="form-label">Titre actuel</label>
							<input type="text" name="nextCategory" class="form-control" id="nextCategory">
						</div>
						<div class="mb-3">
							<label for="updateCategory" class="form-label">Nouveau titre</label>
							<input type="text" name="updateCategory" class="form-control" id="updateCategory">
						</div>
						<buttonValider type="submit" class="btn btn-outline-success justify-content-center" href="#">Actualiser</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- ------------------------Modal New Personnage------------------- -->

	<div class="modal fade modal-lg" id="modalNewCharacter" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Personnage</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body ">
					<form action="#" method="post">
						<div class="mb-3">
							<label for="prenom" class="form-label">Prènom</label>
							<input type="text" name="prenom" class="form-control" id="Prenom" placeholder="Exemple: Lee-lou">
						</div>
						<div class="mb-3">
							<label for="nom" class="form-label">Nom</label>
							<input type="text" name="nom" class="form-control" placeholder="Exemple: White">
						</div>
						<div class="mb-3">
							<label for="age" class="form-label">Age</label>
							<input type="text" name="age" class="form-control" placeholder="Exemple: 35">
						</div>
						<div class="mb-3">
							<label for="password" class="form-label">Surnom</label>
							<input type="text" name="surnom" class="form-control" placeholder="Exemple: Loulou">
						</div>
						<div class="mb-3">
							<label for="profession" class="form-label">Profession</label>
							<input type="text" name="profession" class="form-control" placeholder="Exemple: Expert psychiatre">
						</div>
						<div class="mb-3">
							<label for="ethnie" class="form-label">Éthnie</label>
							<input type="text" name="ethnie" class="form-control" placeholder="Exemple: caucasien">
						</div>
						<div class="mb-3">
							<label for="liens" class="form-label">Liens</label>
							<input type="text" name="liens" class="form-control" placeholder="Exemple: Fille de Maryline">
						</div>
						<div class="mb-3">
							<label for="password" class="form-label">Catégorie personnage</label>
							<div class="dropdown">
								<button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Choisissez :
								</button>
								<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton">
									<li>
										<a class="dropdown-item" href="#">Famille Lechangeur</a>
									</li>
									<li>
										<a class="dropdown-item" href="#">Policiers</a>
									</li>
									<li>
										<a class="dropdown-item" href="#">famille Marie</a>
									</li>
									<li>
										<a class="dropdown-item" href="#">Personnel Mairie</a>
									</li>
									<li>
										<a class="dropdown-item" href="#">Truands</a>
									</li>
								</ul>
							</div>
							Nouvelle catégorie :
							<input type="text" name="categorie" class="form-control" placeholder="Exemple : Famille White">
						</div>
						<div class="mb-4">
							<label for="textCharacter" class="form-label">Infos</label>
							<!-- <textarea class="form-control z-depth-1" id="textCharacter" rows="3" placeholder="Les infos sur ce personnage..." style="height: 15rem; resize: none; white-space: pre-line;"> -->
							<div class="form-outline mb-4">
								<textarea class="form-control" id="textCharacter" rows="4" placeholder="Exemple : Première apparition lors de la réunion de Police...  " style="resize: none; white-space: pre-line;"></textarea>
							</div>
						</div>
						<button type="submit" class="btn btn-success justify-content-center" href="#">Valider</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- ------------------------Modal New Chapitre--------------------- -->

	<div class="modal fade" id="modalNewChapter" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Nouveau Chapitre</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body ">
					<form action="" method="post" id="formConnexion">
						<div class="mb-3">
							<label for="newChapter" class="form-label">Titre du chapitre</label>
							<input type="email" name="newChapter" class="form-control" id="newChapter">
						</div>
						<buttonValider type="submit" class="btn btn-success justify-content-center" href="#">Valider</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- ------------------------Modal setting Chapitre--------------------- -->

	<div class="modal fade modal-lg" id="modalSettingCChapter" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Tableau des chapitres</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body ">
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th class="text-center">#</th>
									<th>Chapitre</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="text-center">1</td>
									<td>Prologue</td>
									<td class="td-actions text-right">
										<button type="button" class="btn" id="btnActionDelete" data-bs-toggle="modal">
											<i class="fi fi-rr-trash"></i>
										</button>
										<button type="button" class="btn" id="btnActionEdit" data-bs-toggle="modal" data-bs-target="#modalUpdateChapter">
											<i class="fi fi-rr-edit"></i>
										</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- ------------------------Modal update Chapitre--------------------- -->

	<div class="modal fade" id="modalUpdateChapter" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Renommer chapitre</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body ">
					<form action="" method="post" id="formConnexion">
						<div class="mb-3">
							<label for="nextChapter" class="form-label">Titre actuel</label>
							<input type="text" name="nextChapter" class="form-control" id="nextChapter">
						</div>
						<div class="mb-3">
							<label for="updateChapter" class="form-label">Nouveau titre</label>
							<input type="text" name="updateChapter" class="form-control" id="updateChapter">
						</div>
						<buttonValider type="submit" class="btn btn-outline-success justify-content-center" href="#">Actualiser</button>
					</form>
				</div>
			</div>
		</div>
	</div>


	<!-- ----------------------------------------------Container storiz---------------------------------------------------- -->

	<!-- -------------------------Container dropdown storiz--------------------- -->

	<div class="container-lg mt-1">
		<div class="row">
			<div class="col-lg-5">
				<div class="dropdown">
					<button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Catégorie Personnage
					</button>
					<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton">
						<li>
							<a class="dropdown-item" href="#">Tous</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">Famille Lechangeur</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">Policiers</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">famille Marie</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">Personnel Mairie</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">Truands</a>
						</li>
					</ul>
					<button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#modalSettingCategory">
						<i class="fi fi-rr-settings"></i>
					</button>
					<button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#modalNewCharacter">Nouveau personnage</button>
				</div>
			</div>
			<div class="col">
				<div class="dropdown">
					<button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Chapitre
					</button>
					<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton">
						<li>
							<a class="dropdown-item" href="#">1 - Prologue</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">2 - Le début</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">3 - Ensuite</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">4 - Après</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">5 - Encore après</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">6 - Et puis</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">7 - Quand soudain</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">8 - La fin</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">9 - Épilogue</a>
						</li>
					</ul>
					<button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#modalSettingCChapter">
						<i class="fi fi-rr-settings"></i>
					</button>
					<button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#modalNewChapter">Nouveau chapitre</button>

					<label for="exampleFormControlTextarea6" id="modalNewChapter">Chapitre 7 - Quand soudain</label>
				</div>

			</div>
		</div>
	</div>

	<!-- -------------------------Container création storiz--------------------- -->

	<div class="container-lg mt-3">
		<div class="row">
			<div class="col-lg-5">
				{% for character in characters %}
					<div class="accordion mb-2" id="accordion-{{character.id}}">
						<div class="card">
							<div class="card-header" id="headingOne">
								<h2 class="mb-0">
									<a data-toggle="collapse" data-target="#collapse{{character.id}}" aria-expanded="false" aria-controls="collapseOne">
										<p class="nameCharacter" id="nameCharacter1">
											<i class="fa fa-user"></i>
											<span id='character1FirstName'>{{character.characterFirstname}}</span>
											<span id='character2LastName'>{{character.characterlastname}}</span>
										</p>
										<i class="fa fa-chevron-down toggle"></i>
									</a>
								</h2>
							</div>
							<div id="collapse{{character.id}}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
								<div class="card-body">
									<button type="button" class="btn" id="btnActionDelete" data-bs-toggle="modal" data-bs-target="#modal">
										<i class="fi fi-rr-trash"></i>
									</button>
									<button type="button" class="btn" id="btnActionEdit" data-bs-toggle="modal" data-bs-target="#modalNewCharacter">
										<i class="fi fi-rr-edit"></i>
									</button>
									<p class="text-justify">Profession :
										{{character.characterJob}}</p>
									<p class="text-justify">Age :
										{{character.characterAge}}
									</p>
									<p class="text-justify">Ville :
										{{character.characterCity}}
									</p>
									<p class="text-justify">Surnom :
										{{character.characterNickname}}</p>
									<p class="text-justify">Éthnie :
										{{character.characterEthnic}}</p>
									<p>
										<i class="fi fi-sr-users-alt"></i>Liens :
										{{character.characterLink}}</p>
									<p class="text-justify">Infos :
										{{character.characterInformation}}
									</p>
								</div>
							</div>
						</div>

					</div>
				{% endfor %}

			</div>
			<div class="col">
				<div class="form-group shadow-textarea">
					<!-- <label for="exampleFormControlTextarea6">Chapitre 7 - Quand soudain</label> -->
					<!-- text-align: justify;s -->
						<textarea class="form-control z-depth-1" id="textChapter" rows="3" placeholder="Vos idées pour ce chapitre..." style="height: 35rem; resize: none; white-space: pre-line;"> Lee-lou Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
																																																																																																																																																																																																																																														                    Why do we use it?
																																																																																																																																																																																																																																														                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
																																																																																																																																																																																																																																														                    Where does it come from?
																																																																																																																																																																																																																																														                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
																																																																																																																																																																																																																																														                    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
																																																																																																																																																																																																																																														                    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
					</textarea>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
