{% extends 'base.html.twig' %}

{% block title %}Storiz
{% endblock %}

{% block body %}

	{% include "includes/nav.html.twig" %}
	{% include "includes/settings.html.twig" %}
	{% include "includes/creation.html.twig" %}
	{% include "includes/modals/login.modal.html.twig" %}
	{% include "includes/modals/registration.modal.html.twig" %}

	{# {{ include('includes/modals/modals.html.twig') }} #}


{# <div class="example-wrapper">
		<h1>Hello
			{{ controller_name }}! ✅</h1>

		This friendly message is coming from:
		<ul>
			<li>Your controller at
				<code>
					<a href="{{ 'C:/laragon/www/test1/src/Controller/MainController.php'|file_link(0) }}">src/Controller/MainController.php</a>
				</code>
			</li>
			<li>Your template at
				<code>
					<a href="{{ 'C:/laragon/www/test1/templates/main/index.html.twig'|file_link(0) }}">templates/main/index.html.twig</a>
				</code>
			</li>
		</ul> #}


	{# <div>
					{% for story in stories %}
						{{story.name}}
					{% endfor %}
				</div> #}
	{# </div> #}
{% endblock %}
