
    <!-- ------------------------Modal Connexion--------------------- -->

{% extends 'base.html.twig' %}
    <div class="modal fade" id="modalConnexion" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel" alt="Connexion">Connexion</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body ">
                    {# <form action="{{ path('app_login')}}" method="post" id="formConnexion">
                        <div class="mb-3">
                            <label for="email" class="form-label" alt="Email">Email</label>
                            <input type="email" name="email" class="form-control" id="email">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label" alt="Mot de passe">Mot de passe</label>
                            <input type="password" name="password" class="form-control" id="password">
                        </div>
                        <button type="submit" class="btn btn-outline-success justify-content-center" alt="Valider">Valider</button>
                    </form> #}
    <form method="post" action="{{ path('app_login')}}">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
    
        {% if app.user %}
            <div class="mb-3">
                Vous êtes connecté(e) {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
        {% endif %}
    
        <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
        <label for="inputPassword">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
    
        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >
    
        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html
    
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}
    
        <button class="btn btn-lg btn-success" type="submit">
            Valider
        </button>
</form>
{% endblock %}
                </div>
            </div>
        </div>
    </div>